@using Iceshrimp.Shared.Schemas.Web
<button @onclick="React" class="reaction @(Reaction.Reacted ? "reacted" : "")" title="@Reaction.Name">
    <InlineEmoji Name="@Reaction.Name" Url="@Reaction.Url" Wide="true"/>
    <span class="count">
        @Reaction.Count
    </span>
</button>

@code {
    [Parameter] [EditorRequired] public required NoteReactionSchema Reaction { get; set; }
    [CascadingParameter]                         Note               Note     { get; set; } = null!;

    private void React()
    {
        if (Reaction.Reacted) _ = Note.RemoveReact(Reaction.Name);
        else _                  = Note.AddReact(Reaction.Name, Reaction.Sensitive, Reaction.Url);
    }
}