@using Iceshrimp.Shared.Schemas.Web
@using Iceshrimp.Assets.PhosphorIcons
<div class="field">
    <span class="field-name">
        @if (Field.Verified.GetValueOrDefault())
        {
            <Icon class="verified" Name="Icons.SealCheck" Size="1.3em"/>
            <span> </span>
        }
        <MfmText Text="@Field.Name.Split('\n')[0]" Emoji="@Emojis" Simple="@true"></MfmText>
    </span>
    <span class="field-value">
        <MfmText Text="@Field.Value.Split('\n')[0]" Emoji="@Emojis"></MfmText>
    </span>
</div>

@code {
    [Parameter] [EditorRequired] public required UserProfileField    Field  { get; set; }
    [Parameter] [EditorRequired] public required List<EmojiResponse> Emojis { get; set; }
}