<div @ref="@_scroller" class="scroller">
    <div @ref="@_padTopRef" class="padding top" style="height: @(State.PadTop + "px")"></div>
    @if (_loadingTop)
    {
        <div class="target">
            Loading!
        </div>
    }
    @foreach (var el in State.RenderedList)
    {
        <div class="target" @ref="@Ref" role="article" aria-labelledby="note-header" aria-describedby="note-body">
            <TimelineNote @key="el.Id" Note="el"></TimelineNote>
        </div>
    }
    @if (_loadingBottom)
    {
        <div class="target">
            Loading!
        </div>
    }
    else
    {
        <div class="target">
            <span>The end!<button @onclick="Down">Load more!</button></span>
        </div>
    }
    <div @ref="@_padBotRef" class="padding bottom" style="height: @(State.PadBottom + "px")">
    </div>
</div>

@code {
}