@using Iceshrimp.Assets.PhosphorIcons
@using Iceshrimp.Frontend.Components
@using Iceshrimp.Frontend.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localization> Loc;

<div class="sidebar">
    <div class="header">
        <account-dropdown/>
    </div>
    <div class="nav">
        <div class="sidebar-btn">
            <NavLink href="/">
                <Icon Name="Icons.House"/>
                <span class="text">@Loc["Timeline"]</span>
            </NavLink>
        </div>
        <div class="sidebar-btn">
            <NavLink href="/notifications">
                <Icon Name="Icons.Bell"/>
                <span class="text">@Loc["Notifications"]</span>
            </NavLink>
        </div>
    </div>
    <hr/>
    <button class="sidebar-btn" @onclick="Open">@Loc["Post"]</button>
</div>

<div class="bottom-bar">
    <div class="nav">
        <button class="sidebar-btn">
            <Icon Name="Icons.List"/>
        </button>
        <div class="sidebar-btn">
            <NavLink href="/">
                <Icon Name="Icons.House"/>
                <span class="text">@Loc["Timeline"]</span>
            </NavLink>
        </div>
        <div class="sidebar-btn">
            <NavLink href="/notifications">
                <Icon Name="Icons.Bell"/>
                <span class="text">@Loc["Notifications"]</span>
            </NavLink>
        </div>
        <div>
            <button @onclick="Open" class="sidebar-btn">
                <Icon Name="Icons.Pencil"/>
                <span class="text">@Loc["Post"]</span>
            </button>
        </div>
    </div>

</div>

<Compose @ref="_compose"/>

@code {
    private Compose _compose = null!;

    private async void Open()
    {
        await _compose.OpenDialog();
    }
}